<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  class="ops" rel="icon" href="{{ url_for('static', filename='css/.svg') }}" booktype="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tapetes.css') }}">
    <title>Catalogo</title>

</head>
<meta charset="UTF-8">
<section class="colores">
<body>
   <section  class="container">
      <contenedor  class="serie">
        <br>
         <h1 class="uno"><center>Logistica y mantenimiento de Vehiculos
          <center>Trailer Palza
         </h1> 
        <br>
        <section class="perro"> 
         <nav>
           <ul>
             <li><a href="/"><strong>Home</strong></a></li>
           </ul>
         </nav>
        </section>
      </contenedor>
      <section class="rafa">  
         <section class="fd">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  class="ratas" src="{{ url_for('static', filename='imagenes/025.png') }}">
         </section>
        <br>
    
       <div class="equipment-card">
           <img src="{{ url_for('static', filename='imagenes/020.png') }}" alt="Equipo 1">
           <h2 class="dgc"><h2>Michelin V180XC</h2>
           <p class="dgc">MANUFACTURER: MICHELIN</p>
           <p class="dgc">TIPO: COMPRIMA V 180 XC</p>
           <p class="dgc">TIENDA CATEGORIA: LLANTAS</p>
       </div>

       <div class="equipment-card">
          <img src="{{ url_for('static', filename='imagenes/021.png') }}" alt="Equipo 2">
          <h2>Michelin 1290 HXC</h2>
          <p>MANUFACTURER: MICHELIN</p>
          <p>TIPO: BIG1290 HDP II XC</p>
          <p>TIENDA CATEGORIA: LLANTAS</p>
       </div>

       <div class="equipment-card">
           <img src="{{ url_for('static', filename='imagenes/022.png') }}" alt="Equipo 2">
           <h2>Michelin  FG-1280 HXC</h2>
           <p>MANUFACTURER: MICHELIN</p>
           <p>TIPO: FG-1280 HXC</p>
           <p>TIENDA CATEGORIA: LLANTAS</p>
       </div>

       <div class="equipment-card">
          <img src="{{ url_for('static', filename='imagenes/023.png') }}" alt="Equipo 2">
          <h2>Michelin  CARGOXBIB-02</h2>
          <p>MANUFACTURER: MICHELIN</p>
          <p>TIPO: CARGOXBIB-02</p>
          <p>TIENDA CATEGORIA: LLANTAS</p>
          </div>

        <div class="equipment-card">
            <img src="{{ url_for('static', filename='imagenes/024.png') }}" alt="Equipo 2">
            <h2>Michelin  AXIOBIB2-45</h2>
            <p>MANUFACTURER: MICHELIN</p>
            <p>TIPO: AXIOBIB2-45</p>
            <p>TIENDA CATEGORIA: LLANTAS</p>
        </div>
      </section>

      
  
     <section  class="angles">
        <footer>
            <br>
       <br>
        <br>
           <br>
             <br>
               <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>Pagina creada 24 de Mayo del 2024,
        Copyright ©2024 Reservados por Derechos de Autor,
          Mexico.</a>
                <br>
                <br>
              <br>
            <br>
          <br> 
        </footer>
     </section>
   </section>
</body>
</section>
</html>