<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/does.css') }}">
    <link class="ops" rel="icon" href="{{ url_for('static', filename='css/database.svg') }}" type="image/svg+xml">
    <title>Registro productos</title>
</head>
<body>
    <style>
        #utha {
            width: 300px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            font-size: 16px;
        }
    </style>
    <div class="container">
        <h2>Login&nbsp;&nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
            </svg>
        </h2>
        <form action="{{ url_for('register') }}" method="post">
            <div class="form-group">
                <label for="exacto">Producto</label>
                <input type="text" id="exacto" name="exacto" required>
            </div>
            <div class="form-group">
                <label for="username">Clave de Empleado</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="sucursal">Sucursal</label>
                <select id="utha" name="sucursal" required>
                    <option value="Tepeji del Rio">Tepeji del Rio</option>
                    <option value="Vallejo">Vallejo</option>
                    <option value="San Juan del Rio">San Juan del Rio</option>
                    <option value="Cuidad de Mexico">Cuidad de Mexico</option>
                    <option value="Taxcala">Taxcala</option>
                    <option value="Tabasco">Tabasco</option>
                    <option value="Culiacan">Culiacan</option>
                    <option value="Durango">Durango</option>
                </select>
            </div>
            <div class="form-group">
                <label for="data">Base de datos</label>
                <input type="text" id="data" name="data" required>
            </div>
            <div class="form-group">
                <button type="submit" class="search-button">INGRESAR</button>
                 <br>
                   <br>
                  <button type="submit" onclick="location.href='/'">REGRESAR AL MENU</button>
            </div>
        </form>
    </div>
</body>
</html>
