<!DOCTYPE html>
<html>
<head>
    <title>Visualize Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

tr:hover {
    background-color: #f1f1f1;
}


</style>
<section class="colores">
<body>
    <h1>Resgistro dentro de la base de daots</h1>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
        </tr>
        {% for item in inventario %}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.cantidad }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Registro de la base de datos</h1>
    <table border="1">
        <tr>
            <th>Producto</th>
            <th>Clave de empleado</th>
            <th>Contraseña</th>
            <th>Sucursal</th>
            <th>Base de datos</th>
        </tr>
        {% for reg in registros %}
        <tr>
            <td>{{ reg.producto }}</td>
            <td>{{ reg.clave_empleado }}</td>
            <td>{{ reg.contraseña }}</td>
            <td>{{ reg.sucursal }}</td>
            <td>{{ reg.base_datos }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</section>
</html

