<!DOCTYPE html>
<html>
<head>
    <title>Vizualizacion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link class="ops" rel="icon" href="{{ url_for('static', filename='css/database.svg') }}" type="image/svg+xml">
</head>
<body>
  <section  class="delta">
    <h1 class="home"><center>Logistica y mantenimiento de Vehiculos</h1>
        <h1 class="home"><center>Trailer Palza</h1>
            <br>
            <section class="perro"> 
                <nav>
                  <ul>
                    <li><a href="/"><strong>Home</strong></a></li>
                  </ul>
                </nav>
            </section>
    <center><section  class="container">
    <br>
    <h1><center>Resgistro dentro de la base de datos</center></h1>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
        </tr>
        {% for item in inventario %}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.cantidad }}</td>
        </tr>
        {% endfor %}
    </table>
      <br>
    <h1><center>Registro de la base de datos</center></h1>
    <table border="1">
        <tr>
            <th>Producto</th>
            <th>Clave de empleado</th>
            <th>Contraseña</th>
            <th>Sucursal</th>
            <th>Base de datos</th>
        </tr>
        {% for reg in registros %}
        <tr>
            <td>{{ reg.producto }}</td>
            <td>{{ reg.clave_empleado }}</td>
            <td>{{ reg.contraseña }}</td>
            <td>{{ reg.sucursal }}</td>
            <td>{{ reg.base_datos }}</td>
        </tr>
        {% endfor %}
    </table>
  </section></center>

  <section class="desarrollo">
    <footer>
    <br>
      <br>
      <br>
      <div class="conttainer">
        <div class="info-box">
            <h3>Horario de atención</h3>
            <hr>
            <div class="section">
                <h4><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                </svg>&nbsp;&nbsp;Callcenter</h4>
                <p>Lunes a Viernes : 09:00 a 18:30 hrs.</p>
                <p>Sábado : 09:00 a 13:30 hrs.</p>
            </div>
            <div class="section">
                <h4>Sucursales</h4>
                <p>Lunes a Viernes : 08:00 a 18:00 hrs.</p>
                <p>Sábado : 09:00 a 14:00 hrs.</p>
            </div>
        </div>
        <div class="info-box">
            <h3>Te puede interesar</h3>
            <hr>
            <ul>
                <li class="emir">Aviso de privacidad</li>
                <li class="emir">Bolsa de Trabajo</li>
                <li class="emir">Reportar Abusos</li>
                <li class="emir">Código de Conducta</li>
                <li class="emir">TGL</li>
                <li class="emir">Extranet</li>
                <li class="emir">Intranet</li>
                <li class="emir">Glosario</li>
            </ul>
        </div>
    </div>
    </footer>
   </section>
 </section> 
</body>
</html

