<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data from MongoDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Inventario</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
        {% for item in inventario %}
        <tr>
            <td>{{ item._id }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td><a href="{{ url_for('delete_item', item_id=item._id) }}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add_item') }}">Añadir nuevo item</a>
</body>
</html>
